@model MyLibraryMVC.Application.ViewModels.Castegory.ListCategoryVm

@{
	ViewData["Title"] = "ListCategory";
}

<h1>ListCategory</h1>

<p>
	<a asp-action="AddCategory">Dodaj nową kategorię</a>
</p>
<form asp-action="ListCategory" asp-controller="OtherFunction" method="get" id="listCategory">
	@Html.AntiForgeryToken()
	<table class="table">
		<thead>
			<tr>
				<th>
					<a asp-action="ListCategory" asp-route-sortOrder="@ViewBag.IdSort">Liczba porządkowa</a>
				</th>
				<th>
					<a asp-action="ListCategory" asp-route-sortOrder="@ViewBag.CategorySort">Nazwa kategorii</a>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Categories)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.ActionLink("Edycja kategorii", "EditCategory", new { id = item.Id }) |
						@Html.ActionLink("Usuń kategorię", "DeleteCategory", new { id = item.Id })
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="row-md4">
		<div class="pagination">
			<table>
				<tr>
					@for (int i = 1; i <= Math.Ceiling(Model.TotalCount / (double)Model.PageSize); i++)
					{
						<td>
							@if (i == Model.PageCurrent)
							{
								<span>@i</span>
							}
							else
							{
								<a href="javascript:PagerClicker(@i)">@i</a>
							}
						</td>
					}
				</tr>
			</table>
			<input type="hidden" name="pageNumber" id="pageNumber" />
			<input type="hidden" name="pageSize" id="pageSize" value="12" />
		</div>
	</div>
</form>
@section Scripts {
	<script type="text/javascript">
		function PagerClicker(index){
			document.getElementById("pageNumber").value = index;
			document.getElementById("listCategory").submit();
		}
	</script>
}