@model MyLibraryMVC.Application.ViewModels.ManagerUser.ListManageUsersVm

@{
	ViewData["Title"] = "ManageUsers";
}
<h2>Zarządzanie użytkownikami</h2>

<form asp-action="ManageUsers" method="post">
	<table class="table">
		<thead>
			<tr>
				<th>Nazwa użytkownika</th>
				<th>Administrator</th>				
				<th>Użytkownik</th>
			</tr>
		</thead>
		<tbody>
			@for (var i = 0; i < Model.ListUsers.Count; i++)
			{
				
				<tr>
					<td>@Model.ListUsers[i].UserName</td>
					<td>
						<input type="hidden" name="ListUsers[@i].UserId" value="@Model.ListUsers[i].UserId" />
						<input type="checkbox" name="ListUsers[@i].IsAdmin" value="true"
							@(Model.ListUsers[i].IsAdmin ? "checked" : "")
							   onclick="document.querySelectorAll('input[name^=\'ListUsers[@i]\']').forEach(c => c.checked = false); this.checked = true;" />
					</td>					
					<td>
						<input type="checkbox" name="ListUsers[@i].IsUser" value="true"
							   class="role-checkbox"
							   data-group="@i"
							@(Model.ListUsers[i].IsUser ? "checked" : "")
							   onclick="document.querySelectorAll('input[name^=\'ListUsers[@i]\']').forEach(c => c.checked = false); this.checked = true;" />
					</td>
				</tr>
				
			}
		</tbody>
	</table>
	<div class="=form-group">
		<button type="submit" class="btn btn-primary">Zaktualizuj role</button>
	</div>
</form>