@model MyLibraryMVC.Application.ViewModels.Loan.ListLoansVm

@{
	ViewData["Title"] = "LoanIndex";
}

<h1>Lista wypożyczeń i zamówień</h1>

<form asp-action="LoanIndex" asp-controller="Loan" method="get" id="indexLoan">
	@Html.AntiForgeryToken()
	<table class="table">

		<thead>
			<tr>				
				<th>					
					<a asp-action="LoanIndex" asp-route-sortOrder="@ViewBag.TitleSortParam">Tytuł</a>					
				</th>
				<th>					
					<a asp-action="LoanIndex" asp-route-sortOrder="@ViewBag.AuthorSortParam">Autor</a>					
				</th>
				<th>
					<a asp-action="LoanIndex" asp-route-sortOrder="@ViewBag.LoanSortParam">Czy wypożyczona</a>
				</th>
				<th>					
					<a asp-action="LoanIndex" asp-route-sortOrder="@ViewBag.UserSortParam">Użytkownik</a>
				</th>				
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Loans)
			{
				<tr>
					
					<td>
						@Html.DisplayFor(modelItem => item.BookTitle)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.BookAuthor)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IsLoan)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>					
					<td>
						@Html.ActionLink("Przedłużenie wypożyczenia", "LoanEdit", new { loanId = item.Id }) |
						@Html.ActionLink("Szczegóły wypożyczenia", "LoanDetails", new { loanId = item.Id }) |
						@Html.ActionLink("Zwrot książki", "LoanDelete", new { loanId = item.Id },
						new { onclick = "return confirm('Czy na pewno chcesz usunąć tę książkę?');", @class = "btn btn-danger" })
					</td>
				</tr>
			}
		</tbody>
	</table>
	<div class="row-md4">
		<div class="pagination">
			<table>
				<tr>
					@for (int i = 1; i <= Math.Ceiling(Model.TotalCount / (double)Model.PageSize); i++)
					{
						<td>
							@if (i == Model.CurrentPage)
							{
								<span>@i</span>
							}
							else
							{
								<a href="javascript:PagerClick(@i)">@i</a>
							}
						</td>
					}
				</tr>
			</table>
			<input type="hidden" name="pageNumber" id="pageNumber" />
			<input type="hidden" name="pageSize" id="pageSize" value="12" />
		</div>
	</div>
</form>
@section Scripts
{
	<script type="text/javascript">
		function PagerClick(index){
		document.getElementById("pageNumber").value = index;
		document.getElementById("indexLoan").submit();
		}
	</script>
}
