@model MyLibraryMVC.Application.ViewModels.Book.BookDetailsVm

@{
    ViewData["Title"] = "BookDetails";
}

<h1>Szczegóły książki</h1>

<div>
    <h4>Wykaz danych</h4>
    <hr />
    <dl class="row">
        @* <div type="hidden"></div>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10" >
            @Html.DisplayFor(model => model.Id)
        </dd> *@
        <dt class = "col-sm-2">
            Tytuł
            @* @Html.DisplayNameFor(model => model.Title) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">Autorzy
           @*  @Html.DisplayNameFor(model => model.Authors) *@
        </dt>
        <dd class="col-sm-10">
            @foreach (var it in Model.Authors)
            {
                <div style="display: flex; gap: 10px;">
                    <span>@Html.DisplayFor(item => it.Name)</span>
                    <span>@Html.DisplayFor(item => it.SurName)</span>
                </div>
            }
        </dd>
        <dt class = "col-sm-2">Kategoria
            @* @Html.DisplayNameFor(model => model.Category) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">Grupa wiekowa
            @* @Html.DisplayNameFor(model => model.AgeGroup) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeGroup)
        </dd>
        <dt class = "col-sm-2">Liczba stron
            @* @Html.DisplayNameFor(model => model.NumberOfPages) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPages)
        </dd>
        <dt class = "col-sm-2">Liczba rozdziałów
           @*  @Html.DisplayNameFor(model => model.NumberOfChapter) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfChapter)
        </dd>
        <dt class = "col-sm-2">Czy są ilustracje
           @*  @Html.DisplayNameFor(model => model.Illustration) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Illustration)
        </dd>
        <dt class = "col-sm-2">Rodzaj oprawy
            @* @Html.DisplayNameFor(model => model.Binding) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Binding)
        </dd>
        <dt class = "col-sm-2">Rok publikacji
            @* @Html.DisplayNameFor(model => model.YearOfPublication) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearOfPublication)
        </dd>
        <dt class = "col-sm-2">Wydawnictwo
           @*  @Html.DisplayNameFor(model => model.PublishingHouse) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishingHouse)
        </dd>
        <dt class = "col-sm-2">Numer wydania
           @*  @Html.DisplayNameFor(model => model.NumberOfPublishing) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPublishing)
        </dd>
        <dt class = "col-sm-2">Data wydania
            @* @Html.DisplayNameFor(model => model.PublishingDate) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishingDate)
        </dd>
        <dt class = "col-sm-2">Miasto wydania
            @* @Html.DisplayNameFor(model => model.CityOfPublishing) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityOfPublishing)
        </dd>
        <dt class = "col-sm-2">Opis
           @*  @Html.DisplayNameFor(model => model.Description) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">Podtytuł
           @*  @Html.DisplayNameFor(model => model.Subtitle) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj książkę", "BookEdit", new { id = Model.Id })

	<a asp-action="BookIndex">Wróć do listy książek</a>
</div>
